__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
build/
dist/
*.egg-info/
# per-user runtime state written by legacy modules when run from source
bztoolbox/modules/**/*_config.json
bztoolbox/modules/**/ogre_preview.log
